<div class="alert-container">
  <div class="alert alert-for-form alert-warning alert-dismissible">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= message %> 
  </div>
</div>
