<h2 class="page-title">討論區</h2>

<a href="<%= new_forum_post_path %>">
  <div class="editor-btn-md">
    <i class="fa fa-plus" aria-hidden="true"></i>
    <span>發表文章</span>
  </div>
</a>

<%= render "posts/posts" %>
