# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: 17e4b3e78ed08a54980dbb963f325dd78b2206b9a7fdbad4f544446d2cd0fa4a6bb38753fea385eea3f4f8f78135b898679b2e4446c456609d41a47e60bd4540

test:
  secret_key_base: 1088d2c99b19907cec745aa02ff23588f4e796ab5388dc6cd6b6e66078df12c7b9163142c83ad48c810117890fd4cfa2a75779c6fff7152b211b6a0e0107838f

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: 1088d2c99b19907cec745aa02ff23588f4e796ab5388dc6cd6b6e66078df12c7b9163142c83ad48c810117890fd4cfa2a75779c6fff7152b211b6a0e0107838f
