.edit-btn {
  border: 1px solid #D8D8D8;
  padding: 10px;
  text-align: center;
  font-size: 16px;
  color: #505050;
  cursor: pointer;

  &.clickable:hover {
    border: 1px solid black;
  }

  i {
    font-size: 19px;
  }
}

#editor {
  height: 100px;
}

a .editor-btn-md {
  border: 1px solid #b7b7b7;
  width: 110px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  border-radius: 1px;
  margin-top: -70px;
  margin-left: 10px;
  margin-right: 15px;
  float: right;
  cursor: pointer;
  color: #505050;

  &:hover {
    border: 1px solid black;
  }
}

.editor-save, .editor-cancel {
  border: 1px solid #b7b7b7;
  width: 100px;
  height: 35px;
  margin-top: 15px;
  text-align: center;
  line-height: 35px;
  border-radius: 3px;
  margin-left: 10px;
  float: right;
  cursor: pointer;

  &:hover {
    border: 1px solid black;
  }
}
