.form-container {
  border: 1px solid #e2e2e2;
  margin: 120px auto 0 auto;
  width: 350px;

  .form-inner-container {
    padding: 10px 30px;
  }

  h2 {
    text-align: center;
  }

  .field input {

    height: 40px;
    padding-left: 15px;
    margin-bottom: 15px;
    width: 285px;
      
    &.half {
      width: 140px;
    }
  }

  .submit {
    width: 285px;
    height: 40px;
    margin-bottom: 20px;
    background-color: #324e5d;
    border: 0px;
    color: #e8e8e8;
  }
}
