<!DOCTYPE html>
<html>
  <head>
    <title>Devsyd</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.6.1/react.min.js"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.6.1/react&#45;dom.min.js"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.6.1/react&#45;dom&#45;server.min.js"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.6.1/react&#45;with&#45;addons.min.js"></script> -->

  </head>

  <body>
    <%= yield %>
  </body>
</html>
